@font-face {
  font-family: 'Raleway';
  src: url('Raleway.eot'); /* IE9 Compat Modes */
  src: url('Raleway.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Raleway.woff2') format('woff2'), /* Super Modern Browsers */
       url('Raleway.woff') format('woff'), /* Pretty Modern Browsers */
       url('Raleway.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Raleway.svg#svgFontName') format('svg'); /* Legacy iOS */
}