@font-face {
  font-family: 'Playfair Display Regular';
  src: url('Playfair-Display-Regular.eot'); /* IE9 Compat Modes */
  src: url('Playfair-Display-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Playfair-Display-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Playfair-Display-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('Playfair-Display-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Playfair-Display-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}