//COLORS

$color-white: #ffffff;

$color-black-0: #000000;
$color-black-1: #333333;
$color-black-2: #373737;
$color-black-3: #3b3b3b;

$color-gray-0: #a9a9a9;
$color-gray-1: #444444;
$color-gray-3: #999999;
$color-gray-4: #666666;
$color-gray-5: #d3d3d3;

$color-wheat-1: #ccb78d;